<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo {{artifact}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <input [(ngModel)]="data[attribute]" placeholder="{{artifact}}" name="{{attribute}}">
        </form>
    </div>
    <div class="modal-footer">
         <button class="btn btn-primary" id="submit-modal" (click)="onSubmit()">Crear</button>
    </div>
</template>

<button class="btn btn-outline-primary form-control" id="new-{{artifact.toLowerCase()}}" (click)="open(content)">Agregar {{artifact}}</button>