<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Proyecto</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <input [(ngModel)]="data.name" placeholder="Nombre" name="name">
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="onSubmit()">Crear</button>
    </div>
</template>

<button class="btn btn-outline-success form-control" (click)="open(content)">Crear</button>