<div class="row">
    <div class="col">
        <h1>{{project?.name}}</h1>
    </div>
</div>
<div>
    <ul>
        <li *ngFor="let milestone of project?.milestones" (click)="selectMilestone(milestone)" style="cursor: pointer">
            {{milestone.name}}
        </li>
    </ul>
    <newMilestone></newMilestone>
</div>

<div class="row">
    <div class="col">
        <h1>{{selectedMilestone?.name}}</h1>
    </div>
</div>
<div>
    <ul>
        <li *ngFor="let epic of selectedMilestone?.epics">{{epic.name}}</li>
    </ul>
    <newEpic></newEpic>
</div>