.l-big-artifact {
    margin-left: 4%;
}

.l-small-artifact {
    margin-left: 2%;
}

.l-new-artifact {
    margin-top: 20px;
}

.l-artifact {
    margin-top: 55px;
}

.l-artifact-title {
    margin-bottom: 30px;
}